Primary question: To what extent do negative and positive reviews impact the success of top-selling games on Steam?

Related question 1: What are the common themes and characteristics found in games with negative reviews on Steam? 

Related question 2: What are the common themes and characteristics found in games with positive reviews on Steam?

In [ ]:
import pandas as pd
from sqlalchemy import create_engine

In [ ]:
%load_ext sql

In [ ]:
%sql mysql://USER:PASSWORD@isba-dev-01.cmv8g4d5f073.us-east-1.rds.amazonaws.com/sql_project

1. Exploratory, finding out which of the app_ids in all of the tables are unique. The results show that the number of rows and the number of apps are the same which suggests that each row represents a unique app, and there are no cases where multiple rows correspond to the same app. However, we should keep in mind that there are a total of 5 tables with 20 games in each row, this means that 19 of the games belong to more than 1 genre, but would not repeat in the same table.

In [ ]:
%%sql
SELECT COUNT(*) as num_rows, COUNT(DISTINCT app_id) as num_apps
FROM (
  SELECT app_id
  FROM action_games_details
	  UNION SELECT app_id FROM adventure_games_details
	  UNION SELECT app_id FROM race_games_details
	  UNION SELECT app_id FROM `role-playing_games_details`
	  UNION SELECT app_id FROM sports_games_details
) AS app_ids;

2. exploratory, finding out percentage of positive, mixed and negative reviews from all genres. It groups the games into three categories: positive, mixed, and negative based on their average review scores. The results show that the majority of games (77.78%) have positive sentiment, while only a small percentage have mixed (13.58%) or negative (8.64%) sentiment. This suggests that all top selling games in various genres are generally well-received by users.

In [ ]:
%%sql
WITH reviews_agg AS (
  SELECT app_id, AVG(review_score) AS avg_review_score
  FROM (
    SELECT app_id, review_score FROM action_games_reviews
    UNION ALL SELECT app_id, review_score FROM adventure_games_reviews
    UNION ALL SELECT app_id, review_score FROM race_games_reviews
    UNION ALL SELECT app_id, review_score FROM `role-playing_games_reviews`
    UNION ALL SELECT app_id, review_score FROM sports_games_reviews
  ) AS all_reviews
  GROUP BY app_id
)
SELECT
  CASE
    WHEN avg_review_score >= 6.0 THEN 'positive'
    WHEN avg_review_score = 5.0 THEN 'mixed'
    ELSE 'negative'
  END AS sentiment,
  COUNT(*) as num_apps,
  ROUND(COUNT(*) * 100.0 / (SELECT COUNT(*) FROM reviews_agg), 2) AS percentage
FROM reviews_agg
GROUP BY sentiment;

3. exploratory, finding out which genres have 0 number of reviews and its rate. Action and Adventure games have no games with zero reviews, while Race, Role-playing, and Sports games have games with zero reviews. Role-playing and Sports games have the highest percentage of games with zero reviews at 15%. It might be worth investigating why some games have zero reviews and if there is a pattern across genres. Steam could possibly incentivize users to give reviews for sports and role-playing games.

In [ ]:
%%sql
WITH game_details AS (
  SELECT app_id, 'action' AS genre, total_review
  FROM action_games_reviews
  	UNION ALL
  SELECT app_id, 'adventure' AS genre, total_review
  FROM adventure_games_reviews
  	UNION ALL
  SELECT app_id, 'race' AS genre, total_review
  FROM race_games_reviews
  	UNION ALL
  SELECT app_id, 'role-playing' AS genre, total_review
  FROM `role-playing_games_reviews`
  	UNION ALL
  SELECT app_id, 'sports' AS genre, total_review
  FROM sports_games_reviews
), genre_counts AS (
  SELECT genre, COUNT(*) AS total_num_games, SUM(CASE WHEN total_review = 0 OR total_review IS NULL THEN 1 ELSE 0 END) AS num_zero_reviews
  FROM game_details
  GROUP BY genre
)
SELECT genre, total_num_games, num_zero_reviews, ROUND(num_zero_reviews * 100.0 / total_num_games, 2) AS zero_review_percentage
FROM genre_counts
ORDER BY total_num_games DESC;

4. exploratory, count how the range of game prices for every genre. The results shows that most of the games in each genre have a price range of 0-20 or are free to play, and that the number of games that fall into the other price ranges decrease as the price range increases. Additionally, it seems that the "race," "role-playing," and "sports" genres have a relatively higher percentage of games with no listed price or available for free compared to the "action" and "adventure" genres. This could indicate fault in the website or maybe different prices available for the same game, which is why there is no price listed.

In [ ]:
%%sql
SELECT 
  genre, 
  SUM(CASE WHEN NULLIF(price, '') IS NULL THEN 1 ELSE 0 END) AS no_price, 
  SUM(CASE WHEN price = 'Free To Play' THEN 1 ELSE 0 END) AS free_to_play, 
  SUM(CASE WHEN CAST(REPLACE(price, '$', '') AS DECIMAL) BETWEEN 0.01 AND 20.01 THEN 1 ELSE 0 END) AS price_0_20, 
  SUM(CASE WHEN CAST(REPLACE(price, '$', '') AS DECIMAL) BETWEEN 20.01 AND 40.01 THEN 1 ELSE 0 END) AS price_20_40, 
  SUM(CASE WHEN CAST(REPLACE(price, '$', '') AS DECIMAL) BETWEEN 40.01 AND 60.01 THEN 1 ELSE 0 END) AS price_40_60, 
  SUM(CASE WHEN CAST(REPLACE(price, '$', '') AS DECIMAL) > 60.01 THEN 1 ELSE 0 END) AS price_60_plus 
FROM (
  SELECT app_id, title, price, 'action' AS genre FROM action_games_details
  UNION ALL
  SELECT app_id, title, price, 'adventure' AS genre FROM adventure_games_details
  UNION ALL
  SELECT app_id, title, price, 'race' AS genre FROM race_games_details
  UNION ALL
  SELECT app_id, title, price, 'role-playing' AS genre FROM `role-playing_games_details`
  UNION ALL
  SELECT app_id, title, price, 'sports' AS genre FROM sports_games_details
) AS game_details
GROUP BY genre
ORDER BY genre;

5. exploratory, identifies the most positively reviewed game in each genre, along with the price and description. The table shows that all of the games have a review score of 9. All of the game have different descriptions and features, but are all rated positively by the users. Additionally, none of the games cost more than $30.

In [ ]:
%%sql
SELECT genre, title, price, review_score, description
FROM (
  SELECT g.genre, g.title, g.price, r.review_score, r.description,
         ROW_NUMBER() OVER (PARTITION BY g.genre ORDER BY r.review_score DESC) AS ranked
  FROM (
    SELECT app_id, title, price, 'action' AS genre FROM action_games_details
    UNION ALL
    SELECT app_id, title, price, 'adventure' AS genre FROM adventure_games_details
    UNION ALL
    SELECT app_id, title, price, 'race' AS genre FROM race_games_details
    UNION ALL
    SELECT app_id, title, price, 'role-playing' AS genre FROM `role-playing_games_details`
    UNION ALL
    SELECT app_id, title, price, 'sports' AS genre FROM sports_games_details
  ) AS g
  JOIN (
    SELECT app_id, review_score, description
    FROM (
      SELECT app_id, review_score, description,
             ROW_NUMBER() OVER (PARTITION BY app_id ORDER BY review_score DESC) AS ranked
      FROM (
        SELECT app_id, review_score, description FROM action_games_reviews
        UNION ALL
        SELECT app_id, review_score, description FROM adventure_games_reviews
        UNION ALL
        SELECT app_id, review_score, description FROM race_games_reviews
        UNION ALL
        SELECT app_id, review_score, description FROM `role-playing_games_reviews`
        UNION ALL
        SELECT app_id, review_score, description FROM sports_games_reviews
      ) AS all_reviews
    ) AS ranked_reviews
    WHERE ranked_reviews.ranked = 1
  ) AS r
  ON g.app_id = r.app_id
) AS ranked_games
WHERE ranked = 1;

6. Primary question: To what extent do negative and positive reviews impact the success of top-selling games on Steam? Specifically, it retrieves the top 10 selling games for each genre and calculates the positive review percentage for each game. It appears that the review_score for most of the games falls between 8 and 9, with the exception of a few games in the Sports genre which have a lower score of 6. This makes sense since these games are the top 10 from their genres. In terms of pricing, most games have a price of $19.99 to $59.99. It is important to note that not all games have a listed price or review_score in the given data.

In [ ]:
%%sql
SELECT genre, title, price, review_score, positive_review_percentage
FROM (
  SELECT genre, title, price, review_score, positive_review_percentage,
         ROW_NUMBER() OVER (PARTITION BY genre ORDER BY review_score DESC) AS ranked
  FROM (
    SELECT 'Action' as genre, d.title, d.price, r.review_score, 
           FORMAT(r.total_positive / (r.total_positive + r.total_negative)*100,2) as positive_review_percentage
    FROM action_games_details d
    JOIN action_games_reviews r
      ON d.app_id = r.app_id
    UNION ALL
    SELECT 'Adventure' as genre, d.title, d.price, r.review_score, 
           FORMAT(r.total_positive / (r.total_positive + r.total_negative)*100,2) as positive_review_percentage
    FROM adventure_games_details d
    JOIN adventure_games_reviews r
      ON d.app_id = r.app_id
    UNION ALL
    SELECT 'Race' as genre, d.title, d.price, r.review_score, 
           FORMAT(r.total_positive / (r.total_positive + r.total_negative)*100,2) as positive_review_percentage
    FROM race_games_details d
    JOIN race_games_reviews r
      ON d.app_id = r.app_id
    UNION ALL
    SELECT 'Role-Playing' as genre, d.title, d.price, r.review_score, 
           FORMAT(r.total_positive / (r.total_positive + r.total_negative)*100,2) as positive_review_percentage
    FROM `role-playing_games_details` d
    JOIN `role-playing_games_reviews` r
      ON d.app_id = r.app_id
    UNION ALL
    SELECT 'Sports' as genre, d.title, d.price, r.review_score, 
           FORMAT(r.total_positive / (r.total_positive + r.total_negative)*100,2) as positive_review_percentage
    FROM sports_games_details d
    JOIN sports_games_reviews r
      ON d.app_id = r.app_id
  ) AS all_genres
) AS ranked_games
WHERE ranked <= 10
ORDER BY genre, ranked DESC;

7. Related question 1: What are the common themes and characteristics found in games with negative reviews on Steam? This query finds out which games have more that 30% negative reviews. By analyzing these games, one can identify common themes and characteristics that might be responsible for the negative feedback. From the results it shows that sports has the most amount of negative reviews compared to the other genres. A deeper dive into the different sports games could be done to see why there are a larger amount of negative reviews.

In [ ]:
%%sql
CREATE VIEW game_reviews_view AS
SELECT details.genre, details.title, reviews.review_score, 
  FORMAT((reviews.total_negative / reviews.total_review) * 100,2) AS negative_review_percentage
FROM 
(
  SELECT 'action' AS genre, title, price, app_id FROM action_games_details
  UNION SELECT 'adventure', title, price, app_id FROM adventure_games_details
  UNION SELECT 'race', title, price, app_id FROM race_games_details
  UNION SELECT 'role-playing', title, price, app_id FROM `role-playing_games_details`
  UNION SELECT 'sports', title, price, app_id FROM sports_games_details
) AS details
JOIN
(
  SELECT app_id, review_score, total_positive, total_negative, total_review
  FROM action_games_reviews
  UNION SELECT app_id, review_score, total_positive, total_negative, total_review
  FROM adventure_games_reviews
  UNION SELECT app_id, review_score, total_positive, total_negative, total_review
  FROM race_games_reviews
  UNION SELECT app_id, review_score, total_positive, total_negative, total_review
  FROM `role-playing_games_reviews`
  UNION SELECT app_id, review_score, total_positive, total_negative, total_review
  FROM sports_games_reviews
) AS reviews
ON details.app_id = reviews.app_id
WHERE (reviews.total_negative / reviews.total_review) * 100 > 30
ORDER BY details.genre, negative_review_percentage DESC;

In [ ]:
%%sql
SELECT * FROM game_reviews_view;

8. Related question 2: What are the common themes and characteristics found in games with positive reviews on Steam? This query returns the rate of positive reviews for each genre and the maximum number of positive reviews each genre has from one of its games. One interesting observation is that both the "race" and "role-playing" genres have the same maximum number of positive reviews, which could suggest that they have some overlapping games that are popular among both audiences. Similarly, both "action" and "sports" genres have the same maximum number of positive reviews, indicating that some games in these genres might appeal to a similar audience. Additionally, the "sports" genre has a lower average positivity compared to the other genres.

In [ ]:
%%sql
WITH game_reviews AS (
  SELECT 
    'action' AS genre, 
    title, 
    total_positive, 
    total_review,
    ROW_NUMBER() OVER (PARTITION BY title ORDER BY total_positive DESC) AS ranked
  FROM action_games_details acd
  JOIN action_games_reviews acw ON acd.app_id = acw.app_id
  UNION ALL
  SELECT 
    'adventure' AS genre, 
    title, 
    total_positive, 
    total_review,
    ROW_NUMBER() OVER (PARTITION BY title ORDER BY total_positive DESC) AS ranked
  FROM adventure_games_details agd
  JOIN adventure_games_reviews agw ON agd.app_id = agw.app_id
  UNION ALL
  SELECT 
    'race' AS genre, 
    title, 
    total_positive, 
    total_review,
    ROW_NUMBER() OVER (PARTITION BY title ORDER BY total_positive DESC) AS ranked
  FROM race_games_details rcd
  JOIN race_games_reviews rcw ON rcd.app_id = rcw.app_id
  UNION ALL
  SELECT 
    'role-playing' AS genre, 
    title, 
    total_positive, 
    total_review,
    ROW_NUMBER() OVER (PARTITION BY title ORDER BY total_positive DESC) AS ranked
  FROM `role-playing_games_details`rd
  JOIN `role-playing_games_reviews` rw ON rd.app_id = rw.app_id
  UNION ALL
  SELECT 
    'sports' AS genre, 
    title, 
    total_positive, 
    total_review,
    ROW_NUMBER() OVER (PARTITION BY title ORDER BY total_positive DESC) AS ranked
  FROM sports_games_details sgd
  JOIN sports_games_reviews sgw ON sgd.app_id = sgw.app_id
),
top_reviews AS (
  SELECT 
    genre, 
    title, 
    total_positive, 
    total_review
  FROM game_reviews
  WHERE ranked = 1
),
common_themes AS (
  SELECT 
    genre, 
    COUNT(DISTINCT title) AS num_titles,
    ROUND(AVG(total_positive/total_review),2) AS avg_positivity,
    MAX(total_positive) AS max_positive_reviews,
    MAX(total_review) AS max_total_reviews
  FROM top_reviews
  GROUP BY genre
  ORDER BY num_titles DESC
)
SELECT * FROM common_themes;